---
const { ...film } = Astro.props;
---

<div class="flex justify-center">
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 p-4">
        <a href={`/films/${film.id}`} class="relative block transform transition duration-300 hover:-translate-y-2 hover:shadow-2xl">
            <div
                class="relative w-[20rem] h-auto border-2 border-[rgba(0,0,0,0.5)] rounded-[1.5em] 
                bg-gradient-to-br from-violet-950 to-violet-950 text-white font-nunito p-[1.5em] 
                flex flex-col gap-4 backdrop-blur-[12px] shadow-lg"
            >
 
                <div class="absolute -top-2 -left-2 w-full h-full bg-white/10 rounded-[1.5em] shadow-md"></div>


<img src={film.affiche} alt={film.Titre_film} 
    class="w-full h-[18rem] object-cover rounded-[1em] border-2 border-pink-500 shadow-md" />

             
                <div class="relative text-center">
                    <h3 class="text-lg font-mono">{film.Titre_film}</h3>
                    <p class="text-sm opacity-80">{film.description}</p>
                </div>

              
                <a href={`/films/${film.id}`} 
                    class="mt-auto px-4 py-2 bg-pink-500 text-violet-950 font-bold text-sm rounded-lg transition duration-200 hover:bg-violet-200 text-center">
                    Voir plus
                </a>
            </div>
        </a>
    </div>
</div>


